
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="shortcut icon" href="https://media-exp1.licdn.com/dms/image/C4E0BAQEozibTSEKTog/company-logo_200_200/0/1570212297684?e=2159024400&v=beta&t=_YLGxJxOIxCLVHREnI8QLRTIWDEmedFJgWttSRyuOYA" type="image/x-icon">
    
    <title>Jarvis - Your Personal Assistant</title>
</head>
<body>
    <section>
    <nav>
        <div id="weather">
            <i align="left" class="far fa-sun fa-2x" style="opacity: 0.8;"></i>
            <p>30°C in Kolkata</p>
        </div>
        <div id="time">
            <h1 align="right" id="clock">14:35</h1>
            <p id="date">It's Sun, Jul 25</p>
        </div>
    </nav>
    <main>
        <div id="greeting">
            <h1 id="greeting-1">Good Afternoon, Tushar</h1>
            <p>What you want to do today?</p>
        </div>
        <div id="replies">
        
        <p>Remiander - Go to tution (19:00)</p>
     


        </div>
        
        <div id="input" >
            <div id="supportdiv-input">
            <div id="mic">
               <button><i class="fas fa-microphone fa-lg"></i></button> 
            </div><br>
            <div id="keyinput">
                <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
                <input type="text" placeholder="Send a message to Jarvis">
                <button><i class="fas fa-arrow-right fa-lg"></i></button>
            </div>
        </div>
        </div>
    </main>
</section>
<script src="{% static 'Main.js' %}"></script>
</body>
</html>